environment {
    GDK_BACKEND "wayland"
    QT_QPA_PLATFORM "wayland"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
}

// Regola per waybar: niente bordi/background artificiali
window-rule {
    match app-id="waybar"
    draw-border-with-background false
}

// Regola globale per angoli arrotondati
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

spawn-at-startup "bash" "-c" "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP XDG_SESSION_TYPE DISPLAY > /dev/null 2>&1"
spawn-at-startup "bash" "-c" "sleep 3 && systemctl --user restart xdg-desktop-portal-gtk.service && sleep 1 && systemctl --user restart xdg-desktop-portal.service > /dev/null 2>&1"
spawn-at-startup "bash" "-c" "sleep 3 && waybar > /dev/null 2>&1"
spawn-at-startup "dunst" ">" "/dev/null" "2>&1"
spawn-at-startup "swaybg" "-i" "/usr/share/desktop-base/active-theme/wallpaper/contents/images/1920x1080.svg" "-m" "fill"
spawn-at-startup "/home/noya/.config/waybar/scripts/nightlight.sh" "toggle"

binds {
    Mod+Q { spawn "kitty"; }
    Mod+C { close-window; }
    Mod+R { spawn "fuzzel"; }
    Mod+Shift+E { quit; }
    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+F { maximize-column; }
    
    // Cambiare Workspace (scorrere giù/su)
    Mod+Page_Down { focus-workspace-down; }
    Mod+Page_Up   { focus-workspace-up; }
    Mod+U          { focus-workspace-down; }
    Mod+I          { focus-workspace-up; }

    // Spostare le finestre tra i Workspace
    Mod+Ctrl+Page_Down  { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up    { move-column-to-workspace-up; }

    // Gestione larghezza colonne
    Mod+Minus  { set-column-width "-10%"; }
    Mod+Plus   { set-column-width "+10%"; }
    Mod+Shift+F  { maximize-column; }

    // Altre funzioni di layout
    Mod+V       { switch-focus-between-floating-and-tiling; }
    Mod+Shift+V { toggle-window-floating; }

    // 1. Mostra questa lista
    "Mod+Shift+Slash" { show-hotkey-overlay; }

    // 2. Cambia larghezza colonne tra i preset (4/3, 1/2, ecc)
    "Mod+BracketLeft"  { switch-preset-column-width; }
    
    // 3. Inserisci o espelli finestra dalla colonna (Layout)
    "Mod+Comma"  { consume-or-expel-window-left; }
    "Mod+Period" { consume-or-expel-window-right; }

    // 4. Apre la panoramica di tutte le finestre (Overview)
    "Mod+Tab" { toggle-overview; }

    // Controllo Luminosità (Tasti Fn della tastiera)
    "XF86MonBrightnessUp"   { spawn "brightnessctl" "set" "5%+"; }
    "XF86MonBrightnessDown" { spawn "brightnessctl" "set" "5%-" "-n" "1"; }

    "Mod+E" { spawn "dolphin"; }
}
