# Regola per il Disco A
ACTION=="add", SUBSYSTEM=="block", ENV{ID_FS_UUID}=="72e5f1d0-55d1-4dd5-b0c7-644fbc342fcc", TAG+="systemd", ENV{SYSTEMD_WANTS}="backup-hdd@72e5f1d0-55d1-4dd5-b0c7-644fbc342fcc.service"

# Regola per il Disco B (2Tb)
ACTION=="add", SUBSYSTEM=="block", ENV{ID_FS_UUID}=="84763b78-b0dc-4593-ba3b-cebc88d54dda", TAG+="systemd", ENV{SYSTEMD_WANTS}="backup-hdd@84763b78-b0dc-4593-ba3b-cebc88d54dda.service"